html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background-color: transparent;
}
body{
    margin: 0;
    overflow: hidden;
    background-color: grey;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    margin: 0;
 padding: 0;
 font-size: inherit;
 text-decoration: inherit;
}

label{
  padding-top: 10px;
  padding-bottom: 10px;
    font-family: inherit;
    font-weight: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

button{
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  

 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input{
  background-color: white;
  border-radius: 3pt;
  height: 24px;
  margin-left: 5px;
}


input:hover{
  background-color:#D4F1F4;
}
button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

div {
    position: initial;
} 

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 50px;
}

button:hover{
  background-color: rgb(54, 224, 60);
}

#map {
    width: 70%;
    height:75%;

  }
#Instructions-Container{
  overflow: auto;
  width: 30%;
  height: 70%;
    margin: 0px 30px 30px 30px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    background-color: #F4F4F4;
    padding: 20px;
  
   
}  

#Instructions{
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
}

#Instructions-Steps{
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding-bottom: 10px;

  letter-spacing: .04em;
}

#Main-Container{
  background-color: #D6DFE0;
  padding: 40px 50px 50px 50px;
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: row-reverse ;
}

#Title-Container{
  background-color: #00A8A8;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: white;
  letter-spacing: -0.04em;
  font-weight: bolder;
  padding: 50px 50px 10px 50px;
  display: flex;
  justify-content: center;
}

#Filter-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

